{% comment %}
  product-beauty-oil
  美容オイル UF 商品ページコンテンツ

  Accepts:
  - none

  Usage:
  - {%- render 'product-beauty-oil' -%}

  Style:
  - sections/main-product.scss

  Script:
  - none
{% endcomment %}

{%- assign img = 'icon-ng.png' -%}
{%- style -%}
  #shopify-section-{{ section.id }} .not-used__item-inner {
    background-image: url({{ img | asset_img_url: 'master' }});
  }
{%- endstyle -%}

<div class="product-desc" style="margin-top: 32px;">
  <button class="product-desc__btn" type="button" data-bs-toggle="collapse" data-bs-target="#product-desc-collapse" aria-expanded="false" aria-controls="product-desc-collapse"></button>
  <div id="product-desc-collapse" class="collapse">
    <div class="product-desc-collapse__inner">
      {%- comment -%} heading-img {%- endcomment -%}
      <div class="product-desc__heading-img">
        {%- assign img = 'droplet.png' -%}
        <img class="" src="{{ img | asset_img_url: '80x80' }}" alt="{{ img.alt }}">
        <p>うるおいへのアプローチ</p>
      </div>
      {%- comment -%} image {%- endcomment -%}
      <div class="product-desc__img" style="text-align: center;">
        {%- assign img = 'beauty-oil1.jpg' -%}
        <img class="" src="{{ img | asset_img_url: 'master' }}" alt="{{ img.alt }}">
      </div>
      {%- comment -%} title-with-text {%- endcomment -%}
      <div class="product-desc__title-with-text">
        <p class="title-with-text__title">使わない成分</p>
        <p class="title-with-text__text">
          敏感肌。ゆらぐ季節の肌。<br>どんな肌質の方でも、安心してお使いいただくために。<br>
          刺激となりうる以下の成分は使用しません。
        </p>
      </div>
      {%- comment -%} not-used {%- endcomment -%}
      <div class="not-used">
        <ul class="not-used__list">
          <li class="not-used__item"><div class="not-used__item-inner"><span>パラベン</span></div></li>
          <li class="not-used__item"><div class="not-used__item-inner"><span>鉱物油</span></div></li>
          <li class="not-used__item"><div class="not-used__item-inner"><span>合成香料</span></div></li>
          <li class="not-used__item"><div class="not-used__item-inner"><span>合成<br>着色料</span></div></li>
          <li class="not-used__item"><div class="not-used__item-inner"><span>石油系<br>界面</d</span>活性剤</li>
          <li class="not-used__item"><div class="not-used__item-inner"><span>シリコン</span></div></li>
          <li class="not-used__item"><div class="not-used__item-inner"><span>アルコール</span></div></li>
          <li class="not-used__item"><div class="not-used__item-inner"><span>旧指定成分</span></div></li>
        </ul>
      </div>
      {%- comment -%} title-with-text {%- endcomment -%}
      <div class="product-desc__title-with-text">
        <span class="title-with-text__pickup">Pick Up !</span>
        <p class="title-with-text__title">
          「ナノ化技術」で、<br>
          肌内部の角層へぐんぐん浸透
        </p>
        <p class="title-with-text__text">
          独自のナノ化技術により、オイルの一部を限界まで最小化。<br>肌内部の角層まですばやく浸透します。<br>
          オイルとは思えないほどの、みずみずしい仕上がりです。
        </p>
      </div>
      {%- comment -%} image {%- endcomment -%}
      {%- comment -%}
      <div class="product-desc__img">
        {%- assign img = 'all-in-one2.jpg' -%}
        <img class="" src="{{ img | asset_img_url: 'master' }}" alt="{{ img.alt }}">
      </div>
      {%- endcomment -%}
      {%- comment -%} present {%- endcomment -%}
      <div class="product-desc__present">
        <p>
          基礎化粧品2品以上のお買い求めで<br>
          UFクレンジングジェルパックを1本プレゼント！
        </p>
      </div>
    </div>
  </div>
</div>