{% comment %}
  usage-all-in-one
  UF オールインワンジェル やり方

  Accepts:
  - none

  Usage:
  - {%- render 'usage-all-in-one'' -%}

  Style:
  - snippets/product-usage.css

  Script:
  - none
{% endcomment %}

<div class="usage">
  <div class="usage__heading">使い方</div>
  <div class="usage__row _top">
    <div class="usage__step _1">
      <div class="usage__img-wrapper">
        {%- assign img = 'all-in-one-usage1.png' -%}
        <img class="" src="{{ img | asset_img_url: 'master' }}" alt="{{ img.alt }}">
      </div>
      <div class="usage__step-body">
        <p style="text-align: center;">STEP1</p>
        <p>パール粒2 つ分ほどの量を手に取ります。</p>
      </div>
    </div>
    <div class="usage__step _2">
      <div class="usage__img-wrapper">
        {%- assign img = 'all-in-one-usage2.png' -%}
        <img class="" src="{{ img | asset_img_url: 'master' }}" alt="{{ img.alt }}">
      </div>
      <div class="usage__step-body">
        <p style="text-align: center;">STEP2</p>
        <p>マッサージするようにお肌になじませます。</p>
      </div>
    </div>
  </div>
  <div class="usage__row _bottom">
    <div class="usage__step _3">
      <div class="usage__img-wrapper">
        {%- assign img = 'all-in-one-usage3.png' -%}
        <img class="" src="{{ img | asset_img_url: 'master' }}" alt="{{ img.alt }}">
      </div>
      <div class="usage__step-body">
        <p style="text-align: center;">STEP3</p>
        <p>塗った部分を手のひらでハンドプレス。</p>
      </div>
    </div>
    <div class="usage__step _4">
      <div class="usage__img-wrapper">
        {%- assign img = 'all-in-one-usage4.png' -%}
        <img class="" src="{{ img | asset_img_url: 'master' }}" alt="{{ img.alt }}">
      </div>
      <div class="usage__step-body">
        <p style="text-align: center;">STEP4</p>
        <p>お肌がもっちりと吸い付くように変化したらうるおいが満たされたサインです。</p>
      </div>
    </div>
  </div>
</div>