{%- comment -%}
  first-view
  First View

  Use:
  - none

  Style:
  - sections/first-view.scss

  Script:
  - none
{%- endcomment -%}

{%- assign img = section.settings.img -%}
{%- assign visual_height = img.height  | times: 100 | divided_by: img.width -%}

{%- style -%}
  #shopify-section-{{ section.id }} .first-view__img {
    background-image: url({{ img | img_url: 'master' }});
  }
{%- endstyle -%}

<div class="first-view original-section">
  {%- comment -%} image {%- endcomment -%}
  <div class="first-view__img" style="padding-top: {{ visual_height }}%;"></div>

  {%- comment -%} content {%- endcomment -%}
  <div class="Container">
    <div class="first-view__content">
      <h1 class="first-view__title">{{ section.settings.title }}</h1>
      <p class="first-view__text">{{ section.settings.text }}</p>
    </div>
  </div>
</div>


{% schema %}
{
  "name": "First view",
  "class": "shopify-section--first-view",
  "settings": [
    {
      "type": "image_picker",
      "id": "img",
      "label": "Key Visual"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Title"
    },
    {
      "type": "text",
      "id": "text",
      "label": "Text",
      "default": "text"
    }
  ],
  "presets": [
    {
      "category": "Image",
      "name": "First view",
      "settings": {}
    }
  ]
}
{% endschema %}